<!-- toolbar 1 -->
<div *ngIf="!isLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Pokemon</span>
    <span class="spacer"></span>

    <button mat-button [routerLink]="['/signup']" routerLinkActive="active">Register</button>
    <button mat-button [routerLink]="['/login']" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>

<!-- toolbar 2 -->
<div *ngIf="isLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Pokemon</span>
    <span class="spacer"></span>

    <button mat-button [routerLink]="['/landing-page/homepage']" routerLinkActive="active">Homepage</button>
    <button mat-button [routerLink]="['/landing-page/favorite']" routerLinkActive="active">Favorite</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>